* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.navbar-content {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 50px 100px;
}

h1 {
    margin: 0;
}

p {
    margin: 8px 0;
}

.navbar-content > * {
    width: 50%;
}

.hero-text {
    flex: 0 1 auto;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    width: 350px;
    height: 175px;
    flex: none;
}

.subtitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.rando {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    gap: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100px;
}

.card img {
    width: 100px;
    height: 100px;
}

.info {
    text-align: center;
}