* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 50px 100px;
}

h1 {
    margin: 0;
    font-size: 48px;
}

p {
    margin: 8px 0;
}

.hero-text {
    width: 410px;
    flex: 0 1 auto;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    padding: 8px 32px;
    border-radius: 10px;
    border: none;
}

.image-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
}

.image-placeholder > img {
    width: 500px;
    height: 320px;
}

.subtitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.rando {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    gap: 32px;
    margin-bottom: 75px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 2px solid #3882f6;

}

.info {
    text-align: center;
}

.inspiration {
    display: flex;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.quote {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 50px;
    flex: none;
    align-items: center;
    width: 800px;
}

.quote > p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 100;
}

.quote span {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
}

.thor {
    align-self: flex-end;
}

